// utilities
.u {
    &-thumb {
        height: auto;
        &--30 {
            width: 30px;
        }
        &--45 {
            width: 45px;
        }
        &--60 {
            width: 50px;
        }
        &--90 {
            width: 50px;
        }
        &--200 {
            width: 200px;
        }
        &--rounded {
            border-radius: 50%;
        }
        &--bordered {
            border: 1px solid #a3a3a3;
            padding: 2px;
        }
    }
    &-nopadding{
        &--all {
            padding: 0;
        }
        &--left{
            padding-left: 0;
        }
        &--right{
            padding-right: 0;
        }
        &--bottom{
            padding-bottom: 0;
        }
        &--top{
            padding-top: 0;
        }
    }
    &-nomargin{
        &--all {
            margin: 0;
        }
        &--left{
            margin-left: 0;
        }
        &--right{
            margin-right: 0;
        }
        &--bottom{
            margin-bottom: 0;
        }
        &--top{
            margin-top: 0;
        }
    }
    &-fontsize {
        &--1x {
            font-size: 1em;
        }
        &--2x {
            font-size: 2em;
        }
        &--3x {
            font-size: 3em;
        }
        &--4x {
            font-size: 4em;
        }
    }
}
